{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row text-center">
      <div class="col-md-8 offset-md-2">
          <h1 class="text-center mb-5 py-2 login-header">{% trans "Sign In" %}</h1>

          <p class="lead">{% trans "Welcome back to the HealthifyZone blog. To participate in discussions, view users profiles or interact with posts, please sign in. If you haven't registered yet, then" %}
          <a class="link register-link" href="{% url 'register' %}">{% trans "sign up" %}</a>
          {% trans "first." %}
      </div>
  </div>
  <div class="row text-center">
      <div class="col-md-8 mt-4 offset-md-2">
          <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn main-btn right mb-3" type="submit">{% trans "Sign In" %}</button>
              <p>Forgotten password? <a href="{% url 'reset_password' %}">click here</a></p>
          </form>
      </div>
  </div>
</div>

{% endblock %}