{% extends "base.html" %}
{% block content %}

<!--  Recipe Detail  -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 blury-bg mb-2">
            <h1 class="text-center mb-5 py-2 header">{{ recipe_data.title }}</h1>
            <div class="recipe-image-container">
                <img src="{{ recipe_data.image }}" alt="{{ recipe_data.title }}'s Recipe Image" class="img-fluid rounded recipe-image" />
                <div class="recipe-info">
                    <p class="recipe-info-item mb-2"><i class="fa-solid fa-user-group"></i> Servings: {{ recipe_data.servings }}</p>
                    <p class="recipe-info-item mb-2"><i class="fa-solid fa-clock"></i> Preparation time: {{ recipe_data.readyInMinutes }} minutes</p>
                </div>
            </div>
            <div class="recipe-bg p-3 mb-2">
                <h2 class="text-center">Ingredients: <i class="fa-solid fa-book-open"></i></h2>
                <ul class="list-unstyled">
                    {% for ingredient in recipe_data.extendedIngredients %}
                        <li>{{ ingredient.original }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="text-center">
                <button class="btn main-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    View Instructions
                </button>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body m-2">
                    {% if instructions_data %}
                        <h2>Recipe Instructions:</h2>
                        <ol>
                            {% for step in instructions_data.0.steps %}
                                <li>{{ step.step }}</li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p>No instructions available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}