/* General Styles */

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(223, 248, 223);
}

/* Headers */

.category-header,
.reg-header{
    border-radius: 0% 0% 50% 50%;
    background-color: rgb(82, 153, 41);
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 10px 11px 11px -8px rgba(30,70,7,1);
    -moz-box-shadow: 10px 11px 11px -8px rgba(30,70,7,1);
    box-shadow: 10px 11px 11px -8px rgba(30,70,7,1);
}

.category-header{
    font-size: 2em;
}

.reg-header{
    font-size: 1.5em;
}


/* Navbar Styles */
.logo{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 9px;
    border-radius: 5px;
    background-color: rgb(118, 209, 118);
}

.fa-leaf{
    color: rgb(255, 255, 255);
}
.navbar .navbar-nav .nav-link {
    font-weight: 600;
    color: rgb(106, 173, 106);
    font-size: 17px;
}

.active{
    background-color: rgb(126, 221, 126);
    border-radius: 5px;
}

/* Homepage Main Img and Text */

.main-img-text-container{
    padding-top: 3rem;
    max-width: 55%;
}

.image-overlay {
    position: relative;
    width: 100%;
    height: auto;
}

.image-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.4); 
}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

/* Homepage Article Styles */

.card{
    border-radius: 8px;
}

.article-btn{
    background-color: rgb(126, 221, 126);
    font-weight: 600;
    border: 2px solid rgb(126, 221, 126);
}

.article-btn:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(126, 221, 126);
}

/* Pagination */
#pagination-btn-prev, #pagination-btn-next{
    background-color: rgb(30, 70, 7);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(30, 70, 7);
    border-radius: 3px;
    text-decoration: none;
    font-weight: 500;
}

#pagination-btn-prev:hover, #pagination-btn-next:hover{
    color: rgb(30, 70, 7);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(30, 70, 7);
    border-radius: 3px;
    font-weight: 500;
}

#pagination-btn-prev:focus, #pagination-btn-next:focus {
    outline: none;
    box-shadow: none; 
}

.pagination-nav{
    margin-top: 4rem;
}

/* Categories */

.categories-container{
    margin-bottom: 2rem;
}

.categories-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.categories-link:hover{
    color: rgb(0, 0, 0);
}
/* Footer */

.fa-github{
    background-color: rgb(51, 51, 51);
    padding: 6px;
    border-radius: 5px;
    border: 2px solid rgb(51, 51, 51);

}

.fa-github:hover{
    color: rgb(51, 51, 51);
    background-color: rgb(226, 225, 225);
    border: 2px solid rgb(51, 51, 51);
}

.footer-content{
    background-color: rgba(0, 0, 0, 0.05);
}


