{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="card mx-auto mt-4 profile-card">
        <h1 class="text-center">Profile Info:</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body text-center">
                <div>
                    {% if "profile_image_placeholder" in request.user.profile_image.url %}
                    <img class="profile-pic" src="{% static 'images/profile_image_placeholder.png' %}" alt="Default Profile Image">
                {% else %}
                    <img class="profile-pic" src="{{ request.user.profile_image.url }}" alt="{{ request.user.username }}'s Profile Image">
                {% endif %}
                    <h2>{{ form.instance.username }}</h2>
                    <p>{{ form.instance.get_status_display }} level gym goer and healthy lifestyle enthusiast.</p>
                </div>
                <p class="mt-2 card-text">
                    {{ form.instance.bio | striptags | escape }}
                </p>
                <p>{{ form.instance.first_name }} {{ form.instance.last_name }}</p>
                {% if user.username == form.instance.username %}
                
                <p class="mt-2 card-text">
                    {{ form.instance.email }}
                </p>
                {% endif %}
                {% if user.username == form.instance.username %}
                

                <p>
                    <button class="btn main-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Settings
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="card mb-2 mx-auto mt-4 profile-update-form">
                            <h2 class="text-center">Update Profile Info:</h2>
                            <div class="card-body text-center">
                                {% crispy form %}
                                <button class="btn main-btn" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                  </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock content %}
