{% url 'homepage' as homepage_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>HealthifyZone</title>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <!-- Meta tags for search engines -->
    <meta
      name="description"
      content="Discover HealthifyZone: Your go-to for wellness tips, fitness, and nourishing recipes. Join our community for a healthier, happier you!"
    >
    <meta
      name="keywords"
      content="wellness blog, healthy lifestyle, mind and body balance, recipes, good habits"
    >

</head>

<body>
    <p>This is in base.html</p>
{% block content%}
{% endblock %}
</body>

</html>