{% extends 'base.html' %} {% block content %}
{% load static %}

<!-- Background image -->

<!-- Background image -->

<div class="container">
    <img src="{% static 'images/placeholder.jpeg' %}" class="img-fluid" alt="...">
</div>


  <div class="container">
      <div class="row">
              <h1 class="post-title text-center">{{ article.title }}</h1>
      </div>
      <div class="row">
            <p class="post-subtitle text-center">Author here | {{ article.created_on }}</p>
    </div>
  </div>

<div class="container">
  <div class="row">
      <div class="col card mb-4  mt-3 left  top">
          <div class="card-body">
              <p class="card-text">
                  {{ article.content | safe }}
              </p>
          </div>
      </div>
  </div>
</div>
{% endblock content %}