{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="container my-5">
    <img src="{% static 'images/placeholder.jpeg' %}" class="img-fluid" alt="...">
</div>
  <div class="container">
      <div class="row">
              <h1 class="post-title text-center">{{ article.title }}</h1>
      </div>
      <div class="row">
            <p class="text-center pt-3">{{article.article_author}} | {{ article.created_on }}</p>
    </div>
  </div>
<div class="container">
  <div class="row">
      <div class="col card mb-4  mt-3 left top">
          <div class="card-body">
              <p class="card-text">
                  {{ article.content | safe }}
              </p>
          </div>
      </div>
  </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-8">
            {% for comment in comments %}
            <div class="d-flex flex-column mb-4 {% if not comment.approved and comment.comment_author == user %}faded{% elif not comment.approved %}d-none{% endif %}">
                <div class="d-flex justify-content-between">
                    <div>
                        {{ comment.comment_author }}
                    </div>
                    <div class="ml-auto">
                        Likes
                    </div>
                </div>
                <div>
                    {{ comment.created_on }}
                </div>
                <div>
                    {{ comment.body | safe }}
                </div>
                {% if not comment.approved and comment.comment_author == user %}
                <p class="approval">
                    This comment is awaiting approval
                </p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-4">
            <div>
                Comment Form
            </div>
        </div>
    </div>
</div>



{% endblock content %}